@import "highlight";

// color
$color-background: #0E0E0E;
$color-foreground: #C5C5C5;
$color-header: #996B21;
$color-blockquote: #858585;
$color-border: rgba(255, 255, 255, 0.15);
$color-line: #A5A5A5;
$color-keyword: #aa759f;

$font-family: Consolas, Monaco, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;

body {
    border: 0;
    margin: 0;
    background: $color-background;
    color: $color-foreground;
    font-family: $font-family;
    font-size: 18px;
}

header {
    padding: 20px;
    margin: 0 0 40px 0;
    border-bottom: 1px dashed $color-line;

    .title a {
	text-decoration: none;

	&:link, &:visited, &:hover, &:active {
	    color: $color-header;
	}
    }

    nav a {
	text-decoration: none;

	&:link, &:hover, &:active {
	    color: $color-header;
	}

	&:visited {
	    color: $color-keyword;
	}
    }

    h1 {
        font-weight: bold;
        font-size: 40px;
        line-height: 1.5;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: $color-header;
}

a {
    &:link, &:hover, &:active {
	color: $color-header;
    }

    &:visited {
	color: $color-keyword;
    }
}

#content {
    width: 100%;
    -webkit-font-smoothing: antialiased;

    line-height: 1.4;

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }
}

blockquote {
    color: $color-blockquote;
    padding-left: 10px;
    border-left: 1px dotted $color-line;
}

figure.highlight {
    margin: 0;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid $color-border;
  padding: 0px 3px;
  margin: 0px -3px;
  color: $color-keyword;
  border-radius: 2px;
}

.highlight {
    > pre {
        background: rgba(0, 0, 0, 0.9);
        font-size: 16px;
        border: 1px solid $color-border;
        border-radius: 2px;
        text-wrap: normal;
        padding: 5px 10px;
        overflow: auto;
        overflow-y: hidden;

        table {
            background: rgba(0, 0, 0, 0.9);
            border: 0px;
        }
    }
}

section {
    display: block;
    margin: 0 0 20px 0;

    img {
        max-width: 100%;
        margin: 0 auto;
    }
}

.container {
    width: 90%;
    margin: 0 auto;
}

table {
    background: #4440547F;
    width: 100%;
    margin: 0 0 20px 0;
    border: 1px solid $color-border;
    border-radius: 2px;
}

th {
    text-align: left;
    border-bottom: 1px dashed $color-border;
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
}

hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed $color-line;
    color: $color-line;
}
